node-linker=hoisted
public-hoist-pattern[]=*expo*
public-hoist-pattern[]=*react-native*
public-hoist-pattern[]=@react-native*
public-hoist-pattern[]=@react-navigation*
public-hoist-pattern[]=react
public-hoist-pattern[]=react-dom
